/* ---------------------------- */
/* BASIC CONFIGURATION */
/* ---------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    background-color: #fff;
    color: #555;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    width: 100%;
}

/* ---------------------------- */
/* BLUE BUTTON */
/* ---------------------------- */
/* .btn-blue {
    margin: 0 auto !important;
    background: #03A9F4;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;
    display: block;
    font-weight: 300;
    transition: all 400ms ease-in-out;
  }

.btn-blue  p {
    margin-bottom: 0;
    padding: 6px;
}

.btn-blue:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: #0286c2;
    cursor: pointer;
  }

.btn-blue:active {
    background: #4FC3F7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 50ms;
  } */

.btn-blue {
    color: #2098c9;
    font-size: 110%;
    cursor: pointer;
    border: 1px solid #2098c9;
    padding: 5px;
    border-radius: 2px;
    
}

.btn-blue:hover {
    color: #fff;
    background-color: #2098c9;
}

/* Reset Bootstrap p tag style */
p {
    margin-bottom: 0 !important;
}


/* ---------------------------- */
/* NAVIGATION BAR */
/* ---------------------------- */
.nav-links {
    position: absolute;
    right: 0;
    padding-right: 50px;
    letter-spacing: 1px;
}

.nav-item {
    padding-right: 5px;
}

.navbar-brand {
    margin-left: 50px;
}


/* ---------------------------- */
/* HYPERLINKS */
/* ---------------------------- */

a:active,
a:focus { 
    outline-style: none; 
}

a:hover{
    color: rgb(16, 25, 146) !important;
    outline: none;
    text-decoration: none !important;
}


/* ---------------------------------------- */
/* Machine*/
/* ---------------------------------------- */


/* ------------ Filter Left ---------- */
.filter-by {
    background-color: #D6E4EB;
    padding: 3px;
    margin-bottom: 50px;
}

.filter ul{
    list-style: none;
}

.filter li{
    margin: 30px auto 0 auto;
}

.filter-head {
    color: blue;
}

/*----------------Range slider--------------  */

.irs-bar,
.irs-from,
.irs-to {
    background-color: #2098c9 !important;
}


/* ----------- Select DropDown ----------- */
.select-box {
    cursor: pointer;
    position : relative;
    max-width:  20em;
    margin: 0 auto;
    margin-top: -25px;
    width: 100%;
  }
  
  .select,
  .label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
  }
  
  .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
  }
  .select-box1 {
    background: #d8d8d8;
  }
  
  .label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
  }
  .open .label::after {
     content: "▲";
  }
  .label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
  }



/* ----------------Filter right---------------- */
.vertical {
    border-left: 1px solid rgb(182, 182, 182);
}

.scroll span,
.scroll_tab_right_button,
.scroll_tab_left_button,
.shop-header {
    background-color: rgba(201, 225, 236, 0.514) !important;
}

.scroll span:hover {
    background-color: rgba(176, 203, 216, 0.849) !important;
}
.scroll {
    margin: 30px auto 50px auto;
    max-width: 1140px;
    
}

/* -------------- MACHINE CARD ----------- */

.machine-container {
    /* text-align: center; */
    margin: 0px 40px 80px 20px;
}
.machine-card {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
}
.shop-header {
    font-size: 90%;
    color:#2098c9; 
    padding: 5px;
}

.shop-text {
    font-size: 14px;
    color: rgb(107, 105, 105);
}

.card {
    box-shadow: 2px 3px rgba(187, 187, 187, 0.726);
    margin-bottom: 40px;
    border: 1px solid rgb(189, 189, 189) !important;
}

.card ul {
    list-style: none;
    font-size: 16px;
}

.ul-right {
    margin-top: 45px;
}
.card-header {
    padding: 0.4rem !important;
    font-size: 110%;
    color: #444;
}

.machine-title {
    margin-bottom: 2px;
}

.machine-name {
    letter-spacing: 1px;
    font-size: 75%;
    color: #2098C9;
    font-weight: 600;
    padding: 3px;
    float: left;
    
}

.right-certificates {
    float: right;
}

.capacity-container {
    float: right;
}
.capacity {
    font-size: 75%;
    margin-top: 4px;
}
.available, .not-available {
    display: inline-block;
    margin-left: 10px;
    background-color: rgba(5, 179, 5, 0.801);
    height: 14px;
    width: 14px;
    border-radius: 50%;
    /* border-radius: 50%; */
}

.not-available {
    background-color: rgba(255, 0, 0, 0.89);
}

.view-info {
    display: block;
    margin: 0 auto;   
}


/* ---------------------------- */
/* View Information Button */
/* ---------------------------- */
.view-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}

/* ---------------------------- */
/* FOOTER */
/* ---------------------------- */

#footer {
/* background: #101522; */
    background: #10182c;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
  }
  
#footer .footer-top {
    background: #000029;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
}

#footer .footer-top .footer-info img {
    height: 40px;
    margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #222636;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    /* background: #f82249; */
    background: #fff;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid #fff;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 5px;
    /* color: #f82249; */
    color: #fff;
    font-size: 18px;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #262c44;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
    color: #f82249;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #f82249;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #e0072f;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

